.MeritWrapper {
    width: 100%;
    padding: 100px 0;
    display: flex;
    flex-direction: column;
    gap: 40px;

    .TextWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 24px;

        .TitleText {
            font-size: 36px;
            font-weight: 700;
        }
        .DescriptionText {
            font-size: 28px;
            font-weight: 400;
            color: #4b4b4b;
        }
    }

    .BackgroundWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 100px;

        width: 100%;
        padding: 160px 0;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;

        .CardWrapper {
            display: flex;
            justify-content: space-between;
            gap: 120px;

            max-width: 1400px;

            @media (max-width: 767px) {
                display: flex;
                flex-direction: column;
            }

            .Card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                align-items: center;
                gap: 20px;

                width: 100%;
                padding: 40px;
                box-sizing: border-box;
                background-color: #fff;
                border-radius: 20px;

                @media (max-width: 767px) {
                    padding: 20px 40px;
                }

                img {
                    width: 100px;
                    height: 100px;
                }
                .Text {
                    font-size: 20px;
                    font-weight: 700;
                    line-height: 36px;
                    text-align: center;

                    @media (max-width: 767px) {
                        font-size: 16px;
                        line-height: 20px;
                    }

                    strong {
                        color: #ff7f00;
                    }
                }
            }
        }

        .Button {
            max-width: 360px;
            padding: 20px 40px;
            box-sizing: border-box;
            background-color: #000;
            border-radius: 12px;
            border: 1px solid #fff;

            font-size: 24px;
            color: #fff;

            @media (max-width: 767px) {
                padding: 16px 30px;
                font-size: 16px;
                border-radius: 4px;
            }

            strong {
                color: #ff7f00;
            }
        }
    }
}
